In [ ]:
#print()
name = "haritha"
age = 22
print("name = ",name)
print("age = ",age)

name =  haritha
age =  22

In [7]:
name = "haritha"
age = 22
print("name = "+name+ " age = ",+age)

name = haritha age =  22

In [8]:
name = "haritha"
age = 22
print(f"name = {name} age = {age}")

name = haritha age = 22

In [13]:
name = "haritha"
age = 22
print("name = "+name+ "\nage = ",+age)

name = haritha
age =  22

In [15]:
name = "haritha"
age = 22
print("name = ",name , "age = ",age)

name =  haritha age =  22

In [ ]:
#variables
_name = "haritha"
print(_name)

haritha

In [17]:
9name = "haritna"
print(9name)

SyntaxError: invalid decimal literal (3434984933.py, line 1)

In [18]:
name3 = "hari"
print(name3)

hari

In [19]:
user_age = 22
print(user_age)

22

In [20]:
print("my","name","is","haritha")

my name is haritha

In [ ]:
#datatypes
int_var = 10
print("integer = ",int_var)
print(type(int_var))
float_var = 10.3
print("float = ",float_var)
print(type(float_var))
comp_var = 5+4j
print("complex = ",comp_var)
print(type(comp_var))
my_str = "hari"
print("string = ",my_str)
print(type(my_str))
bool_var = True
print("boolean = ",bool_var)
print(type(bool_var))
my_set = {4,6,3,2,1}
print("set = ",my_set)
print(type(my_set))
dict_var = {'name':'haritha','age':22}
print("dictionary = ",dict_var)
print(type(dict_var))
tup_var = (4,6,7,2)
print("tuple = ",tup_var)
print(type(tup_var))
my_range = range(3)
print("range = ",my_range)
print(type(my_range))
my_list = [1,2,"hari",3.5,True]
print("list = ",my_list)
print(type(my_list))

integer =  10
<class 'int'>
float =  10.3
<class 'float'>
complex =  (5+4j)
<class 'complex'>
string =  hari
<class 'str'>
boolean =  True
<class 'bool'>
set =  {1, 2, 3, 4, 6}
<class 'set'>
dictionary =  {'name': 'haritha', 'age': 22}
<class 'dict'>
tuple =  (4, 6, 7, 2)
<class 'tuple'>
range =  range(0, 3)
<class 'range'>
list =  [1, 2, 'hari', 3.5, True]
<class 'list'>

In [ ]:
#isinstance
isinstance("haritha",str)

True

In [45]:
isinstance(32,str)

False

In [47]:
#type hints
user_name : str = "haritha"
print(user_name)
user_age : int = 22
print(user_age)

haritha
22

In [51]:
def hints(name:str,age:int)->str:
    return f'name {name} age {age}'
print(hints("haritha",22))

name haritha age 22

In [1]:
def hints(name:str,age:int)->str:
    return f'name {name} age {age}'
user_name = "haritha"
user_age = 22
print(hints(user_name,user_age))

name haritha age 22