In [1]:
#strings
my_str = "haritha"
my_str1 = 'bandaru'
print(my_str)
print(my_str1)

haritha
bandaru

In [2]:
str1 = """my name is
haritha"""
str2 = '''my age is
22'''
print(str1)
print(str2)

my name is
haritha
my age is
22

In [3]:
my_str = "It's a winter season"
my_str1 = 'It"s a rainy season'
print(my_str)
print(my_str1)

It's a winter season
It"s a rainy season

In [4]:
my_str = 'It's rainy season'
print(my_str)

SyntaxError: unterminated string literal (detected at line 1) (4032301584.py, line 1)

In [7]:
#backslash
str1 = "Here\"s your python program"
str2 = 'here\'s your terraform program'
print(str1)
print(str2)

Here"s your python program
here's your terraform program

In [ ]:
#concate
my_str = "haritha "
my_str1 = "bandaru"
print(my_str + my_str1)

haritha bandaru

In [15]:
my_str = "haritha"
my_str1 = "bandaru"
main_str = my_str+my_str1
print(main_str)

harithabandaru

In [16]:
my_str = "haritha"
my_str1 = "bandaru"
main_str = my_str+' '+my_str1
print(main_str)

haritha bandaru

In [17]:
user_name = "haritha"
user_age = 22
print(user_name + user_age)

TypeError: can only concatenate str (not "int") to str

In [18]:
user_name = "haritha"
user_age = 22
print(user_name + str(user_age))

haritha22

In [19]:
user_name = "haritha"
user_age = 22
name_and_age = user_name
name_and_age += str(user_age)
print(name_and_age)

haritha22

In [21]:
#f-strings
name = "haritha"
age = 22
print(f"my name is {name},my age is {age}")

my name is haritha,my age is 22

In [22]:
num1 = 15 
num2 = 30
print(f"the sum of {num1} and {num2} is {num1+num2}")

the sum of 15 and 30 is 45

In [23]:
#length
name = "haritha bandaru" 
print(len(name))

15

In [29]:
#indexing
my_str = "python programming" 
print(my_str[0])
print(my_str[5])
print(my_str[6])
print(my_str[10])
print(my_str[-1])
print(my_str[-5])

p
n

g
g
m

In [31]:
#slicing
str = "python programming" 
print(str[1:5])
print(str[7:12])

ytho
progr

In [36]:
str1 = "python programming" 
print(str1[:8])
print(str[6:])
print(str[:])
print(str[0:15:2])

python p
 programming
python programming
pto rgam

In [37]:
#reverse of a string
str = "python programming" 
print(str[::-1])

gnimmargorp nohtyp

In [42]:
#in operator
str = "python programming" 
print("python" in str)
print("oh" in str)
print("k" in str)

True
False
False

In [30]:
#string methods
my_str = 'haritha' 
print(my_str.upper())
my_str1 = 'HARITHA' 
print(my_str1.lower())
my_str2 = ' haritha ' 
print(my_str2.strip())
my_str3 = 'hello haritha'                   
print(my_str3.replace('hello','bandaru'))
my_str4 = 'bandaru haritha'
print(my_str4.split())
my_str5 = ['bandaru','haritha']
print(' '.join(my_str5))
my_str6 = 'haritha'     
print(my_str6.startswith('ha'))
print(my_str6.endswith('ha'))
my_str7 = 'haritha'
print(my_str7.find('ritha'))
print(my_str7.find('retha'))
my_str8 = 'haritha'      
print(my_str.count('h'))
my_str9 = 'haritha'
print(my_str9.capitalize())
print(my_str9.isupper())
print(my_str9.islower())
my_str0 = 'bandaru haritha'     
print(my_str0.title())

HARITHA
haritha
haritha
bandaru haritha
['bandaru', 'haritha']
bandaru haritha
True
True
2
-1
2
Haritha
False
True
Bandaru Haritha