In [1]:
 #functions
name = input("what is your name")
print("my name is:",name)

my name is: haritha

In [3]:
def hello():
    print("haritha")
hello()

haritha

In [4]:
def calculate(a,b):
    print(a+b)
calculate(3,5)

8

In [7]:
def calculate(a,b):
    print(a+b)
sum1 = calculate(3,4)
print(sum1)

7
None

In [8]:
def calculate(a,b):
    return a+b
sum2 = calculate(3,5)
print(sum2)

8

In [14]:
#local scope
def name():
    var = 10
name()
print(var)

NameError: name 'var' is not defined

In [17]:
def name():
    var1 = 25
    print(var1)
name()

25

In [19]:
#enclosing scope
def outer():
    name = "haritha"
    def inner():
        print(name)
    inner()
outer()

haritha

In [27]:
def outer1():
    sur = "haritha"
    print(name1)
    def inner1():
        name1 = "bandaru" 
        print(sur)    
    inner1()
outer1()

NameError: name 'name1' is not defined

In [1]:
def outer2():
    name1 = "haritha"     
    sur1 = " " 
    def inner2():
        nonlocal sur1
        sur1 = "bandaru"         
        print(name1)
    inner2()
    print(sur1)
outer2()

haritha
bandaru

In [2]:
#global scope
var3 = 25
def fun():
    print(var3)
fun()
print(var3)

25
25

In [3]:
num = 10
def func():
    global num1
    num1 = 5
    print(num)
    print(num1)
func()
print(num)

10
5
10

In [9]:
number = 25
def func1():
    global number 
    number = 35
func1()
print(number)

35

In [10]:
number = 25
def func1():
    global number 
    print(number)
    number = 35
func1()
print(number)

25
35